<% if signed_in? %>
  <div class="row">
    <aside>
      <!-- <section> -->
        <%= render 'shared/user_info' %>
      <!-- </section> -->
      <!-- <section> -->
        <%= render 'shared/conference_form' %>
      <!-- </section> -->
    </aside>
  </div>
<% else %>
  <div style="margin-top:100px">
    <%= link_to "Sign up now!", signup_path,
                                class: "button" %>
  </div>
<% end %>
