@import "bootstrap";

/* universal */

html {
  color: white;
}

body {
  padding-top: 150px;
  text-align: center;
  overflow-y: scroll;
  font-family: 'Helvetica Neue';
  font-size: 25px;
  color:white;
  background: url('cabs.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  color:white;
  margin-top: 50px;
  font-family: 'Lobster';
  font-size: 80px;
  cursor: pointer;
  &:hover {
    text-decoration:none;
    background-color: transparent;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

input {
  height: auto !important;
}

#ampm {
  width: 70px;
  margin: -20px 0 0 10px;
}

#time-input {
  width: 140px;
}

#ui-datepicker-div {
  display: none;  
}

#riderInput {
  input {
    margin:10px 0 30px 0;
  }
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

input {
  padding: 10px;
  width: 220px;
  font-size:20px;
}

.container {
  color: white;
}

#container {
  font-family: 'Helvetica Neue';
  font-size: 25px;
  color:white;
  padding: 100px 50px 100px 50px;
  background: rgba(30, 30, 30, .8);
  margin: 4% 5% 20% 5%;
}

#form {
  display: none;
}

.alert, #error_explanation {
  text-align: center;
  margin: 0 auto;
  list-style: none;
}

#user-info, #conference-form {
  display: none;
}

button, input[type='submit'], .button {
  padding: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Helvetica Neue';
  border: 0;
  background-color: #347CE0;
  cursor: pointer;
  margin: 80px 0 0 0;
  &:hover {
      text-decoration: none;
      background-color: #347CE0;
      color: white;
  }
}

.little-button {
  color: white;
  font-size: 15px;
  font-family: 'Helvetica Neue';
  border: 0;
  background-color: #347CE0;
  cursor: pointer;
  margin-top:10px;
  &:hover {
      text-decoration: none;
      background-color: #347CE0;
      color: white;
  } 
}

.link {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.large {
  font-size: 25px;
}

.small {
  font-size: 20px;
}

.code {
  font-weight: bold;
  font-size:40px;
}
// http://stackoverflow.com/questions/13014808/is-there-anyway-to-animate-an-ellipsis-with-css-animations
.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

